<!-- .row*2>.col -->

<div class="row">
  <div class="col">
    <app-search-form 
        [query]="query$ | async"
        (queryChange)="search($event)">
    </app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">
    {{ message }}

    <p>Found {{(albums$ | async)?.length}} albums</p>

    <app-search-results [results]="albums$ | async"> </app-search-results>
  </div>
</div>
