<!-- 
  
  .list-group>.list-group-item*3{Text} 

-->
<!-- [style.borderLeft]=" '10px solid ' + playlist.color " -->
<!-- (mouseenter)="hover = playlist"
(mouseleave)="hover = null"

[style.borderLeftColor]=" hover && hover.id == playlist.id? playlist.color : 'black' " -->

<div class="list-group">
  <div
    class="list-group-item"
    
    [appHighlight]="playlist.color"

    [class.active]="selected && selected.id == playlist.id"


    (click)="select(playlist)"
    *ngFor="let playlist of playlists; trackBy: trackFn; index as i"
  >
    {{ i + 1 }}. {{ playlist.name }}
  </div>
</div>

<!-- 
  Angular Material/Cdk Table
  <mat-table [data]="playlistsSource" class="table">
    
    <ng-container matColDef="name">
      <th *matHeaderCellDef="let row" matSort>  {{row.name}}</th>
      <td *matCellDef="let row"> {{row.name}}</td>
    </ng-container>
    
    <tr *matRowDef="let row; columns: activeCol" [attr.row-id]="row.id"></tr>
    
  </mat-table>
-->

<!-- <ng-template ngFor="row of rows">
  <ng-template ngFor="col of row.cols">
    {{$implicit}}  
  </ng-template>
</ng-template> -->
